body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.stars {
  color: gold;
}

.image {
  width: 100%;
}

.image-container {
  height: 11em;
  overflow: hidden;
}